<div class="card shadow mb-4" style="background-image: url('<%- staticRoot %>/img/login.jpg'); background-size: cover; background-position: left center;">
	<div class="card-body bg-gradient-primary" style="color: #fff;">
		<div style="border-left: 1rem solid #fff; padding-left: 1rem;">
			<p>
				Boas-vindas ao portal de arquétipos da ESPM!
			</p>

			<p>
				<b>
					Este é um portal desenvolvido para ajudar a descobrir mais sobre seu perfil de pessoas por meio de questionários e arquétipos personalizados. Aqui, cada resposta contribui para identificar o arquétipo que melhor representa suas características, motivações e forma de atuação.
				</b>
			</p>

			<p>
				<b>
					O que você pode fazer por aqui?
				</b>
			</p>

			<ul class="mb-0">
				<li>
					Acesse a aba de <b><i>Arquétipos</i></b> para ver os arquétipos disponíveis ou criar novos.
				</li>
				<li>
					Acesse a aba de <b><i>Questionários</i></b> para ver os questionários disponíveis ou criar novos.
				</li>
			</ul>
		</div>
	</div>
</div>
