<div class="row">
	<div class="col-sm-6">
		<div class="form-group mb-sm-0">
			<label for="email">E-mail</label>
			<input id="email" name="email" class="form-control" type="email" spellcheck="false" readonly="readonly" value="<%=usuario.email %>" />
		</div>
	</div>

	<div class="col-sm-6">
		<div class="form-group mb-0">
			<label for="nome">Nome</label>
			<input id="nome" name="nome" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=usuario.nome %>" />
		</div>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			nome: {
				required: true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Swal.wait();

			JsonWebApi.postFormData("<%- root %>/api/usuario/alterarPerfil", form, function (response) {
				if (response.success)
					Swal.success("Perfil alterado com sucesso! " + emoji.happy);
				else
					Swal.error(response.value);
			});
		}
	});
	//]]>
</script>
